name: Docker Image CI

on:
  push:
    branches:
      - buildx
    paths-ignore:
      - '**.md'
  pull_request:
    branches:
      - buildx
    paths-ignore:
      - '**.md'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build opentx-fw-build
        uses: docker/build-push-action@v2
        with:
          context: .
          file: Dockerfile
          push: false
          tags: ghcr.io/pfeerick/opentx-fw-build:latest
        if: github.event_name == 'pull_request'

      - name: Build and push opentx-fw-build
        uses: docker/build-push-action@v2
        with:
          context: .
          file: Dockerfile
          push: true
          tags: ghcr.io/pfeerick/opentx-fw-build:latest
        if: github.event_name != 'pull_request'
